// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

:root {
  --gradleManager-header-background: @app-background-color;

  --gradleManager-body-background: @base-background-color;
  --gradleManager-body-text: @text-color;
}

.pulsarGradleManagerView {
  display: flex;
  flex-direction: column;
  height: 100%;

  font-family: @font-family;
  font-size: @font-size;
  padding: @component-padding;
}

.HeaderDiv {
  background-color: var(--gradleManager-header-background);
  align-items: center;
}

.BodyDiv {
  display: flex;
  flex-grow: 1;
  width: 100%;

  background-color: var(--gradleManager-header-background);
  align-items: center;
}

.gradleLogger {
  display: flex;
  flex-direction: column;

  flex-grow: inherit;
  width: inherit;
  height: 20em;

  overflow-y: auto;
  white-space: pre-wrap;

  padding-left: 1%;
  border: 1px solid var(--gradleManager-header-background);
  border-radius: @component-border-radius;

  padding: 0.5%;
  background-color: var(--gradleManager-body-background)
}

.gradleLog {
  width: 100%;
  height: min-content;
}
