// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

:root {
  --gradleManager-header-background: @app-background-color;

  --gradleManager-body-background: @base-background-color;
  --gradleManager-body-text: @text-color;
}

.pulsarGradleManagerView {
  display: flex;
  flex-direction: column;
  height: 100%;

  font-family: @font-family;
  font-size: @font-size;
  padding: @component-padding;
}

.HeaderDiv {
  background-color: var(--gradleManager-header-background);
  align-items: center;
}

.gradleDropDownButton {
  min-height: @component-line-height - 1px;
  width: 100%;
}

.gradleDropDown {
  padding-left: @component-line-height;

  min-height: @component-line-height;

  min-width: 7 * @component-line-height;
  position: relative;
  display: inline-block;
}

.gradleDropDownMenu {
  top: 100%;
  left: 0;

  max-height: 6 * @component-line-height;
  overflow-y: auto;

  display: none;
  position: absolute;
  background-color: inherit;
  min-width: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.gradleDropDownShow {
  display: block;
}

.gradleDropDownItem {
  min-width: 100%;
  min-height: @component-line-height;
}

.BodyDiv {
  display: flex;
  flex-grow: 1;
  width: 100%;

  background-color: var(--gradleManager-header-background);
  align-items: center;
}

.gradleLogger {
  display: flex;
  flex-direction: column;

  flex-grow: inherit;
  width: inherit;
  height: 20em;

  overflow-y: auto;
  white-space: pre-wrap;

  padding-left: 1%;
  border: 1px solid var(--gradleManager-header-background);
  border-radius: @component-border-radius;

  padding: 0.5%;
  background-color: var(--gradleManager-body-background)
}

.gradleLog {
  width: 100%;
  height: min-content;
}
